In [1]:
# reload magics
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datasets
from project_modules.io import load_dataset_to_df

from sklearn.model_selection import train_test_split

# from project_modules.utils import get_logger
# logger = get_logger("log-data-combine-split.log")
# # read the parameter file

# from project_modules.utils import read_parameters
# parms = read_parameters("/Users/david/projects/lc-project-data/project.yaml")

In [3]:
df81 = load_dataset_to_df('../Data/DataV2/featuresThresAll81.arrow', verbose = True)
df85 = load_dataset_to_df('../Data/DataV2/featuresThresAll85.arrow', verbose = True)
dfDT = load_dataset_to_df("../Data/DataV2/featuresDT.arrow", verbose=True)

df = load_dataset_to_df("../Data/DataV2/features.arrow", verbose=True)

### Do train-test-holdout split here and save as a new dataset

In [5]:
pd.crosstab(df81['LC_STATUS'], df81['SITE'], normalize='columns')

SITE              1         2         3         4         5
LC_STATUS
HC         0.135021  0.000000  0.008824  0.013514  0.071028
LC_NEG     0.725738  0.685548  0.208824  0.010511  0.557009
LC_POS     0.139241  0.314452  0.782353  0.975976  0.371963

In [7]:
pd.crosstab(df85["LC_STATUS"], df85["SITE"], normalize="columns")

SITE              1         2         3         4         5
LC_STATUS
HC         0.135021  0.000000  0.008824  0.013514  0.030645
LC_NEG     0.725738  0.685548  0.208824  0.010511  0.753226
LC_POS     0.139241  0.314452  0.782353  0.975976  0.216129

In [8]:
pd.crosstab(dfDT["LC_STATUS"], dfDT["SITE"], normalize="columns")

SITE              1         2         3         4         5
LC_STATUS
HC         0.190476  0.000000  0.006006  0.013514  0.826087
LC_NEG     0.476190  0.683386  0.195195  0.010511  0.108696
LC_POS     0.333333  0.316614  0.798799  0.975976  0.065217

In [6]:
pd.crosstab(df["LC_STATUS"], df["SITE"], normalize="columns")

SITE              1         2         3         4         5
LC_STATUS
HC         0.100313  0.000000  0.008824  0.011421  0.029141
LC_NEG     0.554859  0.685548  0.208824  0.162437  0.762270
LC_POS     0.344828  0.314452  0.782353  0.826142  0.208589

Note: Proprotion of LC_STATUS retained by T81 and T83 are different from original groups

In [9]:
def straify_train_test_holdout(df, labelVar, stratifyCol, test_size = 0.2, holdout_size = 0.2, random_state = 42 ):
    from sklearn.model_selection import train_test_split
    df_train, df_holdout = train_test_split(df, test_size = holdout_size, random_state = random_state, stratify = df['LC_STATUS'])
    # Split the data into training and holdout sets
    df_train, df_holdout = train_test_split(
        df,
        test_size=holdout_size,
        stratify=df[stratifyCol],
        random_state=42,
    )

    df_train, df_test = train_test_split(
        df_train,
        test_size=test_size / (1 - holdout_size),
        random_state=random_state,
        stratify=df_train[stratifyCol],
    )
    return df_train, df_test, df_holdout

## Split T81

In [19]:
# Create combined variable to stratify on both LC_STATUS and SITE
df81["LC_STATUS_SITE"] = df81["LC_STATUS"] + "_" + df81["SITE"].astype(str)

df_train81, df_test81, df_holdout81 = straify_train_test_holdout(df81, 'LC_STATUS', 'LC_STATUS_SITE', test_size = 0.2, holdout_size = 0.2, random_state = 42)

Verfiy stratification accurate

In [20]:
pd.crosstab(df_train81["LC_STATUS"], df_train81["SITE"], normalize="columns")

SITE              1         2         3       4         5
LC_STATUS
HC         0.133803  0.000000  0.009756  0.0125  0.068966
LC_NEG     0.725352  0.685355  0.209756  0.0125  0.557994
LC_POS     0.140845  0.314645  0.780488  0.9750  0.373041

In [21]:
pd.crosstab(df_test81["LC_STATUS"], df_test81["SITE"], normalize="columns")

SITE              1         2         3         4         5
LC_STATUS
HC         0.145833  0.000000  0.000000  0.015038  0.074074
LC_NEG     0.729167  0.685567  0.208955  0.007519  0.555556
LC_POS     0.125000  0.314433  0.791045  0.977444  0.370370

In [22]:
pd.crosstab(df_holdout81["LC_STATUS"], df_holdout81["SITE"], normalize="columns")

SITE              1         2         3         4         5
LC_STATUS
HC         0.127660  0.000000  0.014706  0.015038  0.074074
LC_NEG     0.723404  0.686106  0.205882  0.007519  0.555556
LC_POS     0.148936  0.313894  0.779412  0.977444  0.370370

## Split T85

In [23]:
# Create combined variable to stratify on both LC_STATUS and SITE
df85["LC_STATUS_SITE"] = df85["LC_STATUS"] + "_" + df85["SITE"].astype(str)

df_train85, df_test85, df_holdout85 = straify_train_test_holdout(df85, 'LC_STATUS', 'LC_STATUS_SITE', test_size = 0.2, holdout_size = 0.2, random_state = 42)

Verfiy stratification accurate

In [24]:
pd.crosstab(df_train85["LC_STATUS"], df_train85["SITE"], normalize="columns")

SITE              1         2         3       4         5
LC_STATUS
HC         0.134752  0.000000  0.009756  0.0125  0.029610
LC_NEG     0.730496  0.685355  0.209756  0.0125  0.753701
LC_POS     0.134752  0.314645  0.780488  0.9750  0.216689

In [25]:
pd.crosstab(df_test85["LC_STATUS"], df_test85["SITE"], normalize="columns")

SITE              1         2         3         4         5
LC_STATUS
HC         0.142857  0.000000  0.000000  0.015038  0.032258
LC_NEG     0.714286  0.685567  0.208955  0.007519  0.754032
LC_POS     0.142857  0.314433  0.791045  0.977444  0.213710

In [26]:
pd.crosstab(df_holdout85["LC_STATUS"], df_holdout85["SITE"], normalize="columns")

SITE              1         2         3         4         5
LC_STATUS
HC         0.127660  0.000000  0.014706  0.015038  0.032129
LC_NEG     0.723404  0.686106  0.205882  0.007519  0.751004
LC_POS     0.148936  0.313894  0.779412  0.977444  0.216867

## Split DT

In [29]:
# Create combined variable to stratify on both LC_STATUS and SITE
dfDT["LC_STATUS_SITE"] = dfDT["LC_STATUS"] + "_" + dfDT["SITE"].astype(str)

df_trainDT, df_testDT, df_holdoutDT = straify_train_test_holdout(dfDT, 'LC_STATUS', 'LC_STATUS_SITE', test_size = 0.2, holdout_size = 0.2, random_state = 42)

Verfiy stratification accurate

In [ ]:
pd.crosstab(df_trainDT["LC_STATUS"], df_trainDT["SITE"], normalize="columns")

SITE              1         2         3       4         5
LC_STATUS
HC         0.134752  0.000000  0.009756  0.0125  0.029610
LC_NEG     0.730496  0.685355  0.209756  0.0125  0.753701
LC_POS     0.134752  0.314645  0.780488  0.9750  0.216689

In [30]:
pd.crosstab(df_testDT["LC_STATUS"], df_testDT["SITE"], normalize="columns")

SITE              1         2        3         4      5
LC_STATUS
HC         0.176471  0.000000  0.00000  0.014925  0.875
LC_NEG     0.470588  0.683478  0.19697  0.014925  0.125
LC_POS     0.352941  0.316522  0.80303  0.970149  0.000

In [31]:
pd.crosstab(df_holdoutDT["LC_STATUS"], df_holdoutDT["SITE"], normalize="columns")

SITE              1         2        3         4    5
LC_STATUS
HC         0.176471  0.000000  0.00000  0.015038  0.8
LC_NEG     0.470588  0.682927  0.19697  0.007519  0.1
LC_POS     0.352941  0.317073  0.80303  0.977444  0.1

## Export

In [33]:
datasets.arrow_dataset.Dataset.from_pandas(df_train81,preserve_index=False).save_to_disk(
    "../Data/DataV2/TTS/T81_Train.arrow"
)
datasets.arrow_dataset.Dataset.from_pandas(df_test81,preserve_index=False).save_to_disk(
    "../Data/DataV2/TTS/T81_Test.arrow"
)
datasets.arrow_dataset.Dataset.from_pandas(df_holdout81,preserve_index=False).save_to_disk(
    "../Data/DataV2/TTS/T81_Holdout.arrow"
)

Saving the dataset (0/1 shards):   0%|          | 0/2814 [00:00<?, ? examples/s]

Saving the dataset (0/1 shards):   0%|          | 0/938 [00:00<?, ? examples/s]

Saving the dataset (0/1 shards):   0%|          | 0/939 [00:00<?, ? examples/s]

In [34]:
datasets.arrow_dataset.Dataset.from_pandas(
    df_train85, preserve_index=False
).save_to_disk("../Data/DataV2/TTS/T85_Train.arrow")
datasets.arrow_dataset.Dataset.from_pandas(
    df_test85, preserve_index=False
).save_to_disk("../Data/DataV2/TTS/T85_Test.arrow")
datasets.arrow_dataset.Dataset.from_pandas(
    df_holdout85, preserve_index=False
).save_to_disk("../Data/DataV2/TTS/T85_Holdout.arrow")

Saving the dataset (0/1 shards):   0%|          | 0/3237 [00:00<?, ? examples/s]

Saving the dataset (0/1 shards):   0%|          | 0/1079 [00:00<?, ? examples/s]

Saving the dataset (0/1 shards):   0%|          | 0/1080 [00:00<?, ? examples/s]

In [35]:
datasets.arrow_dataset.Dataset.from_pandas(
    df_trainDT, preserve_index=False
).save_to_disk("../Data/DataV2/TTS/DT_Train.arrow")
datasets.arrow_dataset.Dataset.from_pandas(
    df_testDT, preserve_index=False
).save_to_disk("../Data/DataV2/TTS/DT_Test.arrow")
datasets.arrow_dataset.Dataset.from_pandas(
    df_holdoutDT, preserve_index=False
).save_to_disk("../Data/DataV2/TTS/DT_Holdout.arrow")

Saving the dataset (0/1 shards):   0%|          | 0/2400 [00:00<?, ? examples/s]

Saving the dataset (0/1 shards):   0%|          | 0/800 [00:00<?, ? examples/s]

Saving the dataset (0/1 shards):   0%|          | 0/800 [00:00<?, ? examples/s]