In [18]:
# reload magics
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datasets
from project_modules.io import load_dataset_to_df

from sklearn.model_selection import train_test_split

# from project_modules.utils import get_logger
# logger = get_logger("log-data-combine-split.log")
# # read the parameter file

# from project_modules.utils import read_parameters
# parms = read_parameters("/Users/david/projects/lc-project-data/project.yaml")

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [19]:
# from pathlib import Path
# input_dir = Path(parms["dir_proc_data"])
# ipath = Path(input_dir / "SYNTHETIC_dataset_dict")
# ipath

In [20]:
df81 = load_dataset_to_df('../Data/DataV1/featuresThresAll81.arrow', verbose = True)
df83 = load_dataset_to_df('../Data/DataV1/featuresThresAll83.arrow', verbose = True)
df = load_dataset_to_df("../Data/DataV1/features.arrow", verbose=True)

### Do train-test-holdout split here and save as a new dataset

In [21]:
pd.crosstab(df81['LC_STATUS'], df81['dag'], normalize='columns')

dag               1         2         3         4         5
LC_STATUS
HC         0.130802  0.000000  0.009967  0.013373  0.061889
LC_NEG     0.729958  0.685548  0.235880  0.010401  0.408795
LC_POS     0.139241  0.314452  0.754153  0.976226  0.529316

In [22]:
pd.crosstab(df83["LC_STATUS"], df83["dag"], normalize="columns")

dag               1         2         3         4         5
LC_STATUS
HC         0.130802  0.000000  0.009967  0.013373  0.027104
LC_NEG     0.729958  0.685548  0.235880  0.010401  0.589158
LC_POS     0.139241  0.314452  0.754153  0.976226  0.383738

In [23]:
pd.crosstab(df["LC_STATUS"], df["dag"], normalize="columns")

dag               1         2         3         4         5
LC_STATUS
HC         0.097179  0.000000  0.009967  0.011307  0.025798
LC_NEG     0.557994  0.685548  0.235880  0.160804  0.601494
LC_POS     0.344828  0.314452  0.754153  0.827889  0.372709

Note: Proprotion of LC_STATUS retained by T81 and T83 are different from original groups

In [24]:
def straify_train_test_holdout(df, labelVar, stratifyCol, test_size = 0.2, holdout_size = 0.2, random_state = 42 ):
    from sklearn.model_selection import train_test_split
    df_train, df_holdout = train_test_split(df, test_size = holdout_size, random_state = random_state, stratify = df['LC_STATUS'])
    # Split the data into training and holdout sets
    df_train, df_holdout = train_test_split(
        df,
        test_size=holdout_size,
        stratify=df[stratifyCol],
        random_state=42,
    )

    df_train, df_test = train_test_split(
        df_train,
        test_size=test_size / (1 - holdout_size),
        random_state=random_state,
        stratify=df_train[stratifyCol],
    )
    return df_train, df_test, df_holdout

## Split T81

In [25]:
# Create combined variable to stratify on both LC_STATUS and dag
df81["LC_STATUS_DAG"] = df81["LC_STATUS"] + "_" + df81["dag"].astype(str)

df_train81, df_test81, df_holdout81 = straify_train_test_holdout(df81, 'LC_STATUS', 'LC_STATUS_DAG', test_size = 0.2, holdout_size = 0.2, random_state = 42)

Verfiy stratification accurate

In [26]:
pd.crosstab(df_train81["LC_STATUS"], df_train81["dag"], normalize="columns")

dag               1         2         3         4         5
LC_STATUS
HC         0.134752  0.000000  0.011050  0.012376  0.059783
LC_NEG     0.730496  0.685355  0.237569  0.012376  0.410326
LC_POS     0.134752  0.314645  0.751381  0.975248  0.529891

In [27]:
pd.crosstab(df_test81["LC_STATUS"], df_test81["dag"], normalize="columns")

dag               1         2         3         4         5
LC_STATUS
HC         0.125000  0.000000  0.000000  0.014815  0.065041
LC_NEG     0.729167  0.685567  0.233333  0.007407  0.406504
LC_POS     0.145833  0.314433  0.766667  0.977778  0.528455

In [28]:
pd.crosstab(df_holdout81["LC_STATUS"], df_holdout81["dag"], normalize="columns")

dag               1         2         3         4         5
LC_STATUS
HC         0.125000  0.000000  0.016667  0.014925  0.065041
LC_NEG     0.729167  0.686106  0.233333  0.007463  0.406504
LC_POS     0.145833  0.313894  0.750000  0.977612  0.528455

## Split T83

In [29]:
# Create combined variable to stratify on both LC_STATUS and dag
df83["LC_STATUS_DAG"] = df83["LC_STATUS"] + "_" + df83["dag"].astype(str)

df_train83, df_test83, df_holdout83 = straify_train_test_holdout(df83, 'LC_STATUS', 'LC_STATUS_DAG', test_size = 0.2, holdout_size = 0.2, random_state = 42)

Verfiy stratification accurate

In [30]:
pd.crosstab(df_train83["LC_STATUS"], df_train83["dag"], normalize="columns")

dag               1         2         3         4         5
LC_STATUS
HC         0.134752  0.000000  0.010989  0.012376  0.026190
LC_NEG     0.730496  0.685355  0.236264  0.012376  0.590476
LC_POS     0.134752  0.314645  0.752747  0.975248  0.383333

In [31]:
pd.crosstab(df_test83["LC_STATUS"], df_test83["dag"], normalize="columns")

dag               1         2         3         4         5
LC_STATUS
HC         0.125000  0.000000  0.000000  0.014815  0.028470
LC_NEG     0.729167  0.685567  0.237288  0.007407  0.587189
LC_POS     0.145833  0.314433  0.762712  0.977778  0.384342

In [32]:
pd.crosstab(df_holdout83["LC_STATUS"], df_holdout83["dag"], normalize="columns")

dag               1         2         3         4         5
LC_STATUS
HC         0.125000  0.000000  0.016667  0.014925  0.028470
LC_NEG     0.729167  0.686106  0.233333  0.007463  0.587189
LC_POS     0.145833  0.313894  0.750000  0.977612  0.384342

## Export T81

In [36]:
datasets.arrow_dataset.Dataset.from_pandas(df_train81,preserve_index=False).save_to_disk(
    "../Data/DataV1/TTS/T81_Train.arrow"
)
datasets.arrow_dataset.Dataset.from_pandas(df_test81,preserve_index=False).save_to_disk(
    "../Data/DataV1/TTS/T81_Test.arrow"
)
datasets.arrow_dataset.Dataset.from_pandas(df_holdout81,preserve_index=False).save_to_disk(
    "../Data/DataV1/TTS/T81_Holdout.arrow"
)

Saving the dataset (0/1 shards):   0%|          | 0/2842 [00:00<?, ? examples/s]

Saving the dataset (0/1 shards):   0%|          | 0/948 [00:00<?, ? examples/s]

Saving the dataset (0/1 shards):   0%|          | 0/948 [00:00<?, ? examples/s]

In [37]:
datasets.arrow_dataset.Dataset.from_pandas(
    df_train83, preserve_index=False
).save_to_disk("../Data/DataV1/TTS/T83_Train.arrow")
datasets.arrow_dataset.Dataset.from_pandas(
    df_test83, preserve_index=False
).save_to_disk("../Data/DataV1/TTS/T83_Test.arrow")
datasets.arrow_dataset.Dataset.from_pandas(
    df_holdout83, preserve_index=False
).save_to_disk("../Data/DataV1/TTS/T83_Holdout.arrow")

Saving the dataset (0/1 shards):   0%|          | 0/3315 [00:00<?, ? examples/s]

Saving the dataset (0/1 shards):   0%|          | 0/1105 [00:00<?, ? examples/s]

Saving the dataset (0/1 shards):   0%|          | 0/1106 [00:00<?, ? examples/s]